.App {
  text-align: center;
  background-color: #282c34;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  margin-bottom: 30px;
}

input {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px;
  border: none;
  background-color: #61dafb;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #21a1f1;
}

.todo-list {
  width: 100%;
  margin: 0 auto;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #444;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #61dafb;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.todo-item p {
  margin: 0;
  flex-grow: 1;
  padding-right: 300px;
}

.todo-item div {
  display: flex;
}

button + button {
  margin-left: 10px;
}
